@let genres = genres$ | async;

<div class="filter-series">
  <form class="filter-series-form" [formGroup]="filterForm">
    <div class="genre-options-series">
      @if (genres; as gList) {
        @for (genre of gList; track genre.id) {
          <button
            type="button"
            (click)="toggleGenre(genre.id)"
            [class.selected]="isGenreSelected(genre.id)"
          >
            {{ genre.name }}
          </button>
        }
      }
    </div>
    <label>
      Rating:
      <input type="number" min="0" max="10" formControlName="voteMin" /> -
      <input type="number" min="0" max="10" formControlName="voteMax" />
    </label>
  </form>
</div>
