<div class="filter-series">
  <form class="filter-series-form" [formGroup]="filterForm">
    <div class="genre-options-series">
      <p-selectButton
        class="genre-options__btns"
        [options]="genreOptions"
        formControlName="genreIds"
        [multiple]="true"
        optionLabel="name"
        optionValue="id"
      >
      </p-selectButton>
    </div>
    <label>
      <h4>Rating:</h4>
      <p-input-number formControlName="voteMin" [min]="0" [max]="10"> </p-input-number>-
      <p-input-number formControlName="voteMax" [min]="0" [max]="10"> </p-input-number>
    </label>
  </form>
</div>
