<section class="hero">
  <div class="hero-bg">
    <div class="hero__container-content">
      <h1>License IMDb Metadata</h1>
      <div class="hero__content-item">
        <div class="hero__content-item__block">
          <p class="hero__content-item-text">
            The premier source of global <br />entertainment metadata and box <br />
            office revenue
          </p>
        </div>
        <div class="hero__content-item__block">
          <p class="hero__content-item-text">
            10+ million titles <br />
            14+ million cast and crew <br />Global Box Office data
          </p>
        </div>
        <div class="hero__content-item__block">
          <p class="hero__content-item-text">
            1.6+ billion ratings from the <br />
            world’s largest entertainment fan <br />
            community
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
